<form ng-submit="save()"> <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" ng-model="book.title" /> </div>
  <div class="form-group">
    <label>Author</label>
    <input type="text" class="form-control" ng-model="book.author" />
  </div>
  <button class="btn btn-primary">
    Save
  </button>
</form>
