
<div ng-app="AngularRails" ng-controller="BooksController" ng-init="urls=<%= @urls.to_json %>; books=<%= @books_json.to_json %>">
  <div class="row">
    <div class="col-md-6">
      <h1>Books</h1>

      <div class="alert alert-success" ng-show="resultMessage"> 
        <strong><i class="icon-warning-sign"></i> Yeah!</strong> {{ resultMessage }}
      </div>

      <ul>
        <li ng-repeat="book in books">
          <%= fa_icon "trash", "ng-click" => "delete(book)",:confirm => "Are you sure?" %>
          {{ book.title }} by {{ book.author}}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <form ng-submit="save()"> <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" ng-model="book.title" /> </div>
        <div class="form-group">
          <label>Author</label>
          <input type="text" class="form-control" ng-model="book.author" />
        </div>
        <button class="btn btn-primary">
          Save
        </button>
      </form>
    </div>
  </div>
</div>
