
<div ng-app="AngularRails" ng-controller="BooksController" ng-init="urls=<%= @urls.to_json %>; init()">
  <div class="row">
    <div class="col-md-6">
      <h1>Books</h1>

      <div class="alert alert-success" ng-show="resultMessage"> 
        <strong><i class="icon-warning-sign"></i>Yeah!</strong> {{ resultMessage }}
      </div>

      <ul style=" list-style: outside none none;">
        <li ng-repeat="book in books">
          <%= fa_icon "pencil", "ng-click" => "edit(book)" %>
          <%= fa_icon "trash", "ng-click" => "delete(book)" %>
          {{ book.title }} by {{ book.author}}
        </li>
      </ul>

      <br />

      <ul class="pagination">
        <li><a ng-click="setPage(currentPage - 1)"> &laquo; </a></li>
        <li ng-repeat="page in pages" ng-class="{ active: currentPage == page } ">
          <a ng-click="setPage(page)">
            {{ page }}
          </a>
        </li>
        <li><a ng-click="setPage(currentPage + 1)"> &raquo; </a></li>
      </ul>

    </div>
    <div class="col-md-6">
      <%= render 'form'  %>
    </div>
  </div>
</div>
